.App {
    text-align: center;
  }
  
  .App-header {
    background-color: white;
    padding: 10px;
    height: 60px;
    color: white;
  }
  
  .App-logo {
    height: 60px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Adjust based on footer height */
    background-color: #eff0f0;
  }
  
  .App-footer {
    background-color: white;
    color: rgb(1, 1, 107);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  button {
    background-color: #1f73c7;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(1, 1, 107);
  }
  